$color-brand-high: #FF5387;
$color-static-dark-primary: #111014;
$color-positive-high: #A9F927;
$color-positive-primary: #DBFDA5;
$color-neutral-low: #1C1B20;
$color-layer-floor-1: #1C1B20;
$color-neutral-tertiary: #8E8E8E;

$color-neutral-secondary: rgba(17, 16, 20, 0.08);
$color-border-neutral-tertiary: rgba(255, 255, 255, 0.04);
$color-border-neutral-secondary: rgba(255, 255, 255, 0.06);
$color-border-neutral-primary: rgba(255, 255, 255, 0.12);

$color-content-static-dark-primary: #111014;