/* Error: Undefined variable.
 *    ,
 * 10 |     outline: $tap-btn-outline solid $color-static-dark-primary;
 *    |                                     ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ButtonTap.scss 10:37  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502      outline: $tap-btn-outline solid $color-static-dark-primary;\a    \2502                                      ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ButtonTap.scss 10:37  root stylesheet";
}
