.offer-card {
  background: $color-neutral-low;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  text-align: start;
  padding: 16px 20px;
  align-items: center;
}