/* ----------------------- fonts styles ------------------------------ */

.font-brand {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.title {
  font-family: 'SF Pro Text', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.408px;
}

.subtitle {
  font-family: 'SF Pro Text', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.078px;
}

.compact-400-accent {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.compact-350-default {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.compact-350-accent {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.compact-350-numeric {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.compact-300-accent {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.compact-300-accent-numeric {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.compact-250-numeric {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.compact-250-default {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.compact-250-accent {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.compact-200-accent {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
