/* ----------------------- Локальные моды ------------------------------ */

.bg-transparent {
  background-color: transparent;
}

.bg-brand-high {
  background-color: $color-brand-high;
}

.bg-layer-floor-1 {
  background-color: $color-layer-floor-1;
}

.bg-positive-high {
  background-color: $color-positive-high;
}


/* ----------------------- Text Color ------------------------------ */
.text-inherit {
  color: inherit;
}

.text-current {
  color: currentColor;
}

.text-transparent {
  color: transparent;
}

.text-content-static-dark-primary {
  color: $color-content-static-dark-primary;
}

.text-positive-primary {
  color: $color-positive-primary;
}

/* ----------------------- Text Align ------------------------------ */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/* ----------------------- Grid ------------------------------ */

.grid {
  display: grid;
}

//Grid Template Columns
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

/* ----------------------- Margin ------------------------------ */

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}

/* ----------------------- Margin ------------------------------ */

.mt-10 {
  margin-top: 10px;
}

/* ----------------------- Padding ------------------------------ */

.p-1 {
  padding: 1px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

// vertical

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

//horizontal

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ----------------------- gap ------------------------------ */

.gap-4px {
  gap: 4px;
}

.gap-6px {
  gap: 6px;
}

.gap-8px {
  gap: 8px;
}

.gap-12px {
  gap: 8px;
}

/* ----------------------- Position ------------------------------ */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* ----------------------- flex ------------------------------ */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

/* ----------------------- Align Self ------------------------------ */
.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-baseline {
  align-self: baseline;
}


/* ----------------------- align-items ------------------------------ */

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* ----------------------- Justify Self ------------------------------ */

.justify-self-auto {
  justify-self: auto;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}


/* ----------------------- justify-items ------------------------------ */

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

/* ----------------------- justify-content ------------------------------ */

.justify-normal {
  justify-content: normal;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

/* ----------------------- grow ------------------------------ */

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

/* ----------------------- background-position ------------------------------ */

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-left-top {
  background-position: left top;
}

.bg-right {
  background-position: right;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-right-top {
  background-position: right top;
}

.bg-top {
  background-position: top;
}


/* ----------------------- background-repeat ------------------------------ */

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}


/* ----------------------- Background Size ------------------------------ */

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}


/* ----------------------- Border Radius ------------------------------ */

.rounded-full {
  border-radius: 9999px;
}

.rounded-none {
  border-radius: 0;
}

.rounded-8 {
  border-radius: 8px;
}

/* ----------------------- Overflow ------------------------------ */

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-clip {
  overflow: clip;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-clip {
  overflow-x: clip;
}

.overflow-y-clip {
  overflow-y: clip;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}


/* ----------------------- Size ------------------------------ */

.size-full {
  width: 100%;
  height: 100%;
}

.size-min {
  width: min-content;
  height: min-content;
}

.size-max {
  width: max-content;
  height: max-content;
}

.size-fit {
  width: fit-content;
  height: fit-content;
}