.user-score {

}

.user-avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
}

.user-avatar-name-w {
  padding: 1px 16px 1px 1px;
  border: 1px solid $color-border-neutral-secondary;
}
