/* Error: Undefined mixin.
 *    ,
 * 26 | /   @include desc1440 {
 * 27 | |     font-size: $var-body-main-size-font;
 * 28 | \   }
 *    '
 *   index.scss 26:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 26 \2502  \250c    @include desc1440 {\a 27 \2502  \2502      font-size: $var-body-main-size-font;\a 28 \2502  \2514    }\a    \2575 \a   index.scss 26:3  root stylesheet";
}
